<main>
  <div class="container">
    <div class="row">
    <div class="col-md-2">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>ジャンル検索</th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
             <tr>
              <td>
                <%= genre.name %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-9 offset-md-1">

          <div class=""></div>
          <h4><strong>商品一覧</strong></h4>
          <div class="d-flex">
          <% @items.each do |item| %>
            <div class="">
              <td><%= attachment_image_tag item, :image, format: 'jpeg', fallback: 'no_image.jpg', size:"200x200" %></br><%= item.name %></br><%= item.price %></td>
            </div>
          <% end %>
          </div>
        </div>
      </div>


  </div>
</main>